.dropdown {
    margin-right: 20px;
}

.btn-notification {
    background: transparent;
    border: none;
    padding: 0;
}

.btn-notification:hover {
    background: transparent
}

.btn-notification > i {
    color: #1b1e21;
}

.btn-notification:focus{
    box-shadow: unset;
}

